<mat-toolbar color="primary">
  <span>Assignments</span>
  <button mat-button routerLink="" routerLinkActive="active">Home</button>
  <button mat-button routerLink="./todo" routerLinkActive="active">Todo List</button>
  <button mat-button routerLink="./sip-calculator" routerLinkActive="active">SIP Calculator</button>
  <button mat-button routerLink="./http" routerLinkActive="active">Http Example</button>
  <button mat-button routerLink="./slot-booking" routerLinkActive="active">Book Slot For Interview</button>



<!-- <button mat-button [matMenuTriggerFor]="AngularAssignments">Assign3</button>
<mat-menu #AngularAssignments="matMenu">
  <button mat-menu-item routerLink="./todo" routerLinkActive="active">My Todo List</button>
  <button mat-menu-item>Counter</button>
</mat-menu> -->
</mat-toolbar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>